@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poller One', serif;
    background-image: url(./assets/images/sky.jpg);
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 15px 15px 0 0;
}

footer {
    border-radius: 0 0 15px 15px;
    height: 5em;
    clear: both;
}

